.MainPage {
  text-align: center;
  color: white;
}

h1 {
  font-size: 100px;
}

p {
  font-size: 70px;
}

.Card {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.247);
  padding: 20px;
  max-width: 450px;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}